html, body {
    padding: 0;
    margin: 0;
  }

body{
    width: 100%;
    max-width: 3000px;
    
}
.header{
    padding: 50px 0 0 0;
}
.card {
    right: 0;
    left: 0;
    position: relative;
    transition: transform 1s ease;
    margin: 0px 0px 10px 0px;
    width: 18rem;
}

.rotate {
    transform: rotateY(360deg);
}

.card:hover {
    box-shadow: 0px 0px 2px 2px #144d98;
    border-radius: 1px;
    cursor: pointer;
}
.circle-font{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);    
    color: #ffffff;
    font-size: 20px;
    font-style: bold;
}

.show {
    display: none;
}

h1 {
    text-align: left;
    width: 500px;
    height: 60px;
    margin: -60px 0 30px 80px;
    padding: 5px 0 0 30px
}

.date {
    width: 60px;
    height: 60px;
    background: #0078bf;
    margin: 0px 0 0 20px;
    color: #ffffff;
    text-align: center;
}

.rot-img {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.rot-img:hover {
    cursor: pointer;
}

.help-img {
    width: 40px;
     height: 40px;
     background: #0078bf;
     position: absolute;
     right: 0;
     margin: -85px 80px 0 0;
     cursor: pointer;
     border-radius: 50%;
}

.help-img:hover {
    transform: rotateZ(360deg)
}



@media (min-width:730px) and (max-width: 991.98px) { 
    .col{        
        border-bottom-width: 1px;
        border-bottom-color: #92b4e0;
        border-bottom-style: solid;
        margin-top: 10px;
    }
    .container{
        width: 350px
    }
 }
 @media (max-width:729px) { 
    .col{        
        border-bottom-width: 1px;
        border-bottom-color: #92b4e0;
        border-bottom-style: solid;
        margin-top: 10px;
    }
    .container{
        width: 350px
    }
    .help-img {
        position: absolute;
        left: 0;
        margin: -20px 0px 0 7px;
        transition: transform 1s ease;
        cursor: pointer;
    }
    
 }
 .change-skin{
     width: 40px;
     height: 40px;
     background: #0078bf;
     position: absolute;
     right: 0;
     margin: -85px 130px 0 0;
     cursor: pointer;
     border-radius: 50%;
 }

